<connectionStrings>
  <add name="DLMSConnectionString" connectionString="Data Source=(local)\MSSQLSERVER_R2;Initial Catalog=DLMS_db;User ID=sa;Password=12345"
    providerName="System.Data.SqlClient" />
  <add name="SalesApp_dbConnectionString" connectionString="Data Source=(local)\MSSQLSERVER_R2;Initial Catalog=SalesApp_db;User ID=sa;Password=12345"
    providerName="System.Data.SqlClient" />
  <add name="DLMS_dbConnectionString" connectionString="Data Source=(local)\MSSQLSERVER_R2;Initial Catalog=DLMS_db;Integrated Security=True"
    providerName="System.Data.SqlClient" />
  <add name="SalesApp_dbConnectionString1" connectionString="Data Source=(local)\MSSQLSERVER_R2;Initial Catalog=SalesApp_db;Integrated Security=True"
    providerName="System.Data.SqlClient" />
</connectionStrings>